<!DOCTYPE HTML>
<html>
<head>
<title>The Horizontal ToolSet Site | Contact </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--  jquery plguin -->
<script type="text/javascript" src="static/js/jquery.min.js"></script>
</head>
<body>
<!-- start header -->
<div class="header_bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
			<h1><a href="index.html"><img src="static/images/pic_logo.png" alt=""/></a></h1>
		</div>
		<div class="h_right">
			<ul class="menu">
				<li><a href="index.html">home</a></li>
				<li><a href="about.html">about</a></li>
				<!--<li><a href="applications.html">applications</a></li>-->
				<li><a href="blog.html">blog</a></li>
				<li class="active"><a href="contact.html">contact</a></li>
			</ul>
			<div id="sb-search" class="sb-search">
				<form>
					<input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
					<input class="sb-search-submit" type="submit" value="">
					<span class="sb-icon-search"></span>
				</form>
			</div>
			<script src="static/js/classie.js"></script>
			<script src="static/js/uisearch.js"></script>
			<script>
				new UISearch( document.getElementById( 'sb-search' ) );
			</script>
			<!-- start smart_nav * -->
	        <nav class="nav">
	            <ul class="nav-list">
	                <li class="nav-item"><a href="index.html">Home</a></li>
	                <li class="nav-item"><a href="about.html">About</a></li>
	                <li class="nav-item"><a href="portfolio.html">Portfolio</a></li>
	                <li class="nav-item"><a href="blog.html">Blog</a></li>
	                <li class="nav-item"><a href="contact.html">Contact</a></li>
	                <div class="clear"></div>
	            </ul>
	        </nav>
	        <script type="text/javascript" src="static/js/responsive.menu.js"></script>
			<!-- end smart_nav * -->
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
<!-- start slider -->
<div class="slider_bg">
<div class="wrap">
	<div class="slider">
		<h2>contact</h2>
		<h3>What we Think, get in touch</h3>
	</div>
</div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
	<div class="main">
		<div class="content">
			<!-- start contact -->
			<div class="contact">				
				<div class="contact_left">
					<div class="company_address">
						<h3>Contact Email Group :</h3>
						<br></br>
						<br></br>
						<p>*</p>
						<p>please click below email link and send email to our team for any support</p>
						<p>*</p>
						<br></br>
						<br></br>
						<br></br>
						<br></br>
						<p>Email: <a href="mailto:SSHZ_APAC_Horizontal@statestreet.com">SSHZ_APAC_Horizontal(at)statestreet.com</a></p>
					</div>
				</div>				
				<div class="contact_right">
				  <div class="contact-form">
				  	<h3>Contact Us</h3>
					    <form method="post" action="contact.html">
					    	<div>
						    	<span><label>name</label></span>
						    	<span><input name="userName" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>e-mail</label></span>
						    	<span><input name="userEmail" type="text" class="textbox"></span>
						    </div>
						    <div>
						     	<span><label>mobile</label></span>
						    	<span><input name="userPhone" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>subject</label></span>
						    	<span><textarea name="userMsg"> </textarea></span>
						    </div>
						   	<div>
						   		<span><input type="submit" value="submit us"></span>
						  	</div>
					    </form>
				    </div>
  				</div>		
  				<div class="clear"></div>		
		  </div>
		  <!-- end contact -->
		</div>
	</div>
</div>
</div>
{% extends "footer.html" %}
</body>
</html>