<!DOCTYPE HTML>
<html>
<head>
<title>The Horizontal ToolSet Site | Error </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--  jquery plguin -->
<script type="text/javascript" src="static/js/jquery.min.js"></script>
</head>
<body>
<!-- start header -->
<div class="header_bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
			<h1><a href="index.html"><img src="static/images/pic_logo.png" alt=""/></a></h1>
		</div>
		<div class="h_right">
			<ul class="menu">
				<li class="active"><a href="index.html">home</a></li>
				<li><a href="about.html">about</a></li>
				<!--<li><a href="applications.html">applications</a></li>-->
				<li><a href="blog.html">blog</a></li>
				<li><a href="contact.html">contact</a></li>
			</ul>
			<div id="sb-search" class="sb-search">
				<form>
					<input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
					<input class="sb-search-submit" type="submit" value="">
					<span class="sb-icon-search"></span>
				</form>
			</div>
			<script src="static/js/classie.js"></script>
			<script src="static/js/uisearch.js"></script>
			<script>
				new UISearch( document.getElementById( 'sb-search' ) );
			</script>
			<!-- start smart_nav * -->
	        <nav class="nav">
	            <ul class="nav-list">
	                <li class="nav-item"><a href="index.html">Home</a></li>
	                <li class="nav-item"><a href="about.html">About</a></li>
	                <li class="nav-item"><a href="applications.html">Applications</a></li>
	                <li class="nav-item"><a href="blog.html">Blog</a></li>
	                <li class="nav-item"><a href="contact.html">Contact</a></li>
	                <div class="clear"></div>
	            </ul>
	        </nav>
	        <script type="text/javascript" src="static/js/responsive.menu.js"></script>
			<!-- end smart_nav * -->
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
<!-- start slider -->
<div class="slider_bg">
<div class="wrap">
	<div class="slider">
		<h2>Error</h2>
		<!--<h3>details to be shown</h3>-->
	</div>
</div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
	<div class="main">
		<div class="content">
		<!-- start details -->
			<div class="details">
			<h2>There is error happened, please check:</h2>
			<!--<div class="det_pic">-->
				  <!--<img src="static/images/det_pic.jpg" alt="" />-->
			<!--</div>-->
			<div class="det_text">
				<p class="para">{{error}}</p>
			</div>
			<div class="clear"></div>
		</div>
		<!-- end details -->
	 </div>
	</div>
</div>
</div>
{% extends "footer.html" %}
</body>
</html>